<div class="container">

  <h2><%= @user.name %></h2>

  <%= link_to 'Create new venue', new_venue_path %><br><br>

  <p>My Venues:</p>

    <% @user.venues.each do |v| %>
    <div class="col-xs-4">
      <div class="venueBox">
        <img class="venuePic" src="<%= v.image %>" alt=""></img>
        <div class="venueContents">
          <p><%= link_to v.name, venue_path(v.id) %> | <%= v.category %></p>
        </div>
      </div>
      <br><br>
        </div>
    <% end %>

</div>
