<div class="container">

  <h2><%= @user.name %></h2>

  <% if @current_user != nil %>
    <% if @current_user.id == @user.id %>
      <%= link_to 'Edit profile', edit_user_path(@user.id) %>
    <% end %>
  <% end %>

  <br><br><br>

  <p>My Venues:</p>

  <% if @current_user != nil %>
    <% if @current_user.id == @user.id %>
      <%= link_to 'Create new venue', new_venue_path %><br><br>
    <% end %>
  <% end %>

    <% @user.venues.each do |v| %>
    <div class="col-xs-4">
      <div class="venueBox">
        <%= cl_image_tag v.image, :class => "venuePic" %>
        <div class="venueContents">
          <p><%= link_to v.name, venue_path(v.id) %> | <%= v.category %></p>
        </div>
      </div>
      <br><br>
        </div>
    <% end %>

</div>
