<h1>Venues Index</h1>

<% @venues.each do |v| %>

  <h3><%= link_to v.name, venue_path(v.id) %></h3>
  <p><%= v.category %></p>
  <p><%= v.location %></p>
  <p><%= v.description %></p>

  <img src="<%= v.image %>" alt="">
  <br><br>

<% end %>
