<h1>Venue Details</h1>

<%= link_to 'All Venues', venues_path %>

<p><%= @venue.name %></p>
<p><%= @venue.category %></p>
<p>Address: <%= @venue.location %></p>
<p><%= @venue.description %></p>
<img src="<%= @venue.image %>" alt="">
<br><br><br>

<%= link_to 'Edit Venue', edit_venue_path %>
