<!DOCTYPE html>
<html>
  <head>
    <title>happyhour</title>
    <%= csrf_meta_tags %>

    <%=cloudinary_js_config%>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="/assets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

  </head>

<nav style="float:right">
  <% unless @current_user.present? %>
    <%= link_to 'Login', login_path %> | <%= link_to 'Signup', new_user_path %>
  <% else %>
  Welcome, <%= link_to @current_user.name, user_path(@current_user) %> |
    <%= link_to 'Logout', login_path, method: :delete %>
  <% end %>
</nav>

  <body>

  <div id="head">
    <div id="logoContainer"><%= link_to 'happy hour', venues_path %></div>
  </div>

    <%= yield %>
  </body>
</html>
